* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-content {
  margin: 0 1em 0 1em;
}

.App-logo {
  height: 50%;
}

.App-link {
  color: #61dafb;
  cursor: pointer;
}
