.Illustration-container {
  background-color: aliceblue;
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 1.6vmin);
}

.image-container {
  width: 30%;
}

.content {
  margin-top: 1em;
}
